<!DOCTYPE html>

<html>
    <head>
        <title>Dropzone</title>
        {{ dropzone.load() }}
        {{ dropzone.style('
            border: 3px dotted #a48537;
            margin: 0%;
            min-height: 350px;
            width:1050px;
            background-image: url("/static/more_data.jpg");
            font: bold 18px/200px arial;
            color: white;
        ') }}

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <br/>
        <a href="{{ url_for('site_dataprep.root') }}">back</a>
        <br/><br/>
        <h1>Dropzone!</h1>
        <p>Just drop txt files, a directory, Excel file or csv.</p>
        {{ dropzone.create(action_view='site_dataprep.dropzone') }}
    </body>
</html>