
<ul>
    <li><a href={{ url_for('site.root') }}>{%trans%}Home Page{%endtrans%}</a></li>
    <li><a href={{ url_for('site_datasets.root') }}>{%trans%}Datasets Page{%endtrans%}</a></li>
    <li><a href={{ url_for('site_machine_learning.root') }}>{%trans%}Train & Run Models Page{%endtrans%}</a></li>
    <li><a href={{ url_for('site_dataprep.root') }}>{%trans%}DataPrep{%endtrans%}</a></li>
    <li><a href={{ url_for('site.labeling') }}>{%trans%}Sampling{%endtrans%}</a></li>
    <li><a href={{ url_for('user.logout') }}>{%trans%}Sign out{%endtrans%}</a></li>
</ul>