<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generic Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>

<br/>
<a href="{{ url_for('site_machine_learning.root') }}">back</a>
<br/><br/>

<img src="{{ url_for('static', filename='train.png') }}">
<br/><br/>


<form action="{{ url }}" method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <th>Dataset</th>
            <th>Algorithm</th>
            <th>Input field</th>
            <th>Target field</th>
        </tr>
        <tr>
            <td>{{ form.dataset (**{"onChange":"populateSelectFields()"}) }}</td>
            <td>{{ form.algorithm }} {#(**{"onChange":"algorithmPreview()"}) }}#}</td>
            <td>{{ form.input }}</td>
            <td>{{ form.target }}</td>
        </tr>
    {{ form.csrf_token }}
    </table>
   <button type="submit">Submit</button>
</form>

<p id="dataset_table"></p>
<p id="algorithm_table"></p>


<script>
function populateSelectFields() {
    var dataset_id = $('#dataset').val();
    $.getJSON(
        '{{ url }}/dataset/' + dataset_id + '/available-fields',
        function(data) {
            let input = $('#input');
            let target = $('#target');

            // Remove old options
            input.find('option').remove();
            target.find('option').remove();
            // Add new items
            $.each(data, function (key, val) {
                var option_item = '<option value="' + val + '">' + val + '</option>';
                input.append(option_item);
                target.append(option_item);
            });

            target.get(0).selectedIndex = target.length;
        });
    }
$(document).ready(function() {
    populateSelectFields();
});
</script>

</body>
</html>


