{% extends "layout.html" %}
{% block body %}
    <h2>{%trans%}Welcome to BoonAI: ML Platform for plebs{%endtrans%}</h2>
    <p><a href={{ url_for('user.register') }}>{%trans%}Register{%endtrans%}</a></p>
    <p><a href={{ url_for('user.login') }}>{%trans%}Sign in{%endtrans%}</a></p>
    <p><a href={{ url_for('site.root') }}>{%trans%}Home{%endtrans%}</a></p>
    <p><a href={{ url_for('site.member') }}>{%trans%}Member{%endtrans%}</a></p>
    <p><a href={{ url_for('site.admin') }}>{%trans%}Admin{%endtrans%}</a></p>
    <p><a href={{ url_for('site_datasets.root') }}>{%trans%}Datasets{%endtrans%}</a></p>
    <p><a href={{ url_for('site_machine_learning.root') }}>{%trans%}Train & Run{%endtrans%}</a></p>
    <p><a href={{ url_for('site.labeling') }}>{%trans%}Labeling, Sampling through Active Learning and Stuff Page{%endtrans%}</a></p>
    <p><a href={{ url_for('user.logout') }}>{%trans%}Sign out{%endtrans%}</a></p>
{% endblock %}
